{% extends 'MySite/wrapper.html' %}

{% block content %}

    {% load static %}
    <script type="text/javascript" src="{% static 'MemTree/js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'MemTree/js/MemTree.js' %}"></script>
    <link rel='stylesheet' href="{% static 'MemTree/css/MemTree.css' %}" type='text/css'>

    <div style='margin-left: 20px;'>
        <ul id="myUL"></ul>
    </div>

    <script type="text/javascript">
        var csrftoken = '{{ csrf_token }}';
        refresh();
    </script>

{% endblock %}

{% block footer_content %}

    <button id="create_button" class="btn btn-success btn-sm" onclick="addItem()" title="Add/Move to selected item">Add</button>
     &nbsp;
    <button id="remove_button" class="btn btn-danger btn-sm" onclick="rmFunc()" title="Delete selected items" disabled="disabled">Del</button>

{% endblock %}
