{% extends 'MySite/wrapper.html' %}

{% block content %}

    {% load static %}
    <script type="text/javascript" src="{% static 'MemTree/js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'MemTree/js/MemTree.js' %}"></script>
    <link rel='stylesheet' href="{% static 'MemTree/css/MemTree.css' %}" type='text/css'>

    <div style='margin-left: 20px;'>
        <ul id="myUL"></ul>
    </div>

    <script type="text/javascript">
        var csrftoken = '{{ csrf_token }}';
        refresh();
    </script>

{% endblock %}

{% block footer_content %}

    <button id="refresh_button" class="refresh_button" onclick="refresh()" title="Обновить">&#8859;</button>
    <button id="create_button" class="create_button" onclick="addItem()" title="Добавить/Вставить">&#8853;</button>
    <button id="edit_button" class="edit_button" onclick="editFunc()" title="Изменить" disabled="disabled">&#8857;</button>
    <button id="move_button" class="move_button" onclick="refresh(move=true)" title="Вырезать" disabled="disabled">&#8854;</button>
    <button id="remove_button" class="remove_button" onclick="rmFunc()" title="Удалить" disabled="disabled">&#8855;</button>

{% endblock %}
