body {
    margin: 0px;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.8);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.content {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#search_counter {
    position: absolute;
    top: 47px;
    left: 50%;
    color: rgba(155, 255, 155, 0.4);
}

#select_counter {
    position: absolute;
    bottom: 47px;
    left: 50%;
    color: rgba(255, 211, 0, 0.7);
}

#search_input {
    outline: none !important;
    color: rgba(255,255,255,0.8);
    background: transparent;
    border: none;
}

#search_input::placeholder {
    color: rgba(255,255,255,0.4);
}
