body {
    margin: 0px;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.8);
}

.header {
    position: fixed;
    top: 0;
    /*text-align: right;*/
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.content {
    margin-top: 65px;
    margin-bottom: 60px;
    margin-left: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    text-align: center;
}

.buttons {
    margin: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#search_counter {
    margin-right: 10px;
    margin-left: 10px;
    color: rgba(155, 255, 155, 0.4);
}

#search_input {
    outline: none !important;
    color: rgba(255,255,255,0.8);
    background: transparent;
    border: none;
}
