
ul, #myUL {
    position: relative;
    display: grid;
    /*list-style-type: none;*/
    list-style: none;
    overflow: auto;
}

li {
    position: relative;
    white-space: nowrap;
    padding-top: 5px;
    /*margin: 5px;*/
}
li::before, li::after {
    content: "";
    position: absolute;
    left: -12px;
}
li::before {
    border-top: 1px solid #bd2130;
    top: 20px;
    width: 8px;
    height: 0;
}
li::after {
    border-left: 1px solid #bd2130;
    height: 100%;
    width: 0;
    top: 5px;
}

ul > li:last-child::after {
    height: 16px;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    color: #adb5bd;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\27A4";
    display: inline-block;
    margin-right: 6px;
    transition: 0.3s ease;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
}

input {
    font-size: 18px;
    text-align: center;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    color: #adb5bd;
    border: 2px solid #16181b;
    border-radius: 10px;
    background: #16181b;
    transition: 0.5s ease;
}

input:hover {
    transition: 0.5s ease;
    color: white;
}
button {
    background: transparent;
    border: 0;
    /*padding: 0;*/
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    margin-left: 5px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

button {
    display: inline-block;
    position: relative;
    padding: 0px 10px;
    /*top: 0;*/
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    transition: 0.3s ease;
}

.edit_button{
    background: rgba( 30, 130, 230, 0.1 );
}
.edit_button:hover {
    transform: scale(1.1,1.1);
    background: rgba( 30, 130, 230, 0.9 );
}

.insert_button {
    background: rgba( 90, 290, 90, 0.1 );
}
.insert_button:hover {
    transform: scale(1.1,1.1);
    background: rgba( 30, 230, 30, 0.9 );
}
/*.append_button {*/
/*    margin-top: 5px;*/
/*    margin-bottom: 15px;*/
/*    background: rgba( 90, 290, 90, 0.5 );*/
/*}*/
.remove_button{
    background: rgba( 230, 30, 30, 0.1 );
}
.remove_button:hover {
    transform: scale(1.1,1.1);
    background: rgba( 230, 30, 30, 0.9 );
}

.move_button {
    background: rgba( 255, 211, 0, 0.1 );
}
.move_button:hover {
    transform: scale(1.1,1.1);
    background: rgba( 255, 211, 0, 0.9 );
}

.refresh_button {
    /*margin-bottom:20px;*/
    font-size: 28px;
    background: #00BFFF;
}
.refresh_button:hover {
    transform: scale(1.1,1.1);
}
.refresh_button:active {
    transform: scale(1.2,1.2);
}

.create_button {
    margin-top:20px;
    font-size: 28px;
    background: rgba( 30, 230, 30, 0.9 );
}
.create_button:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg) scale(1.1, 1.1);
}

.root_buttons {
    text-align: center;
}

.counter {
    color: red;
}
