
ul, #myUL {
    display: grid;
    list-style: none;
    overflow: auto;
}

li {
    position: relative;
    white-space: nowrap;
}
li::before, li::after {
    content: "";
    position: absolute;
}
li::before {
    border-top: 1px solid #040505;
    top: 15px;
    width: 10px;
    left: -15px;
}
li::after {
    border-left: 1px solid #040505;
    height: 100%;
    top: 0;
    left: -15px;
}

ul > li:last-child::after {
    height: 15px;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    color: red;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 3px;
}

.caret::before {
    content: ">";
    display: inline-block;
    transition: 0.3s ease;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

textarea {
    outline: none !important;
    overflow: visible;
    resize: none;
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    background: transparent;
    transition: 0.3s ease;
}
textarea:focus {
    border: 1px solid rgba(155, 255, 155, 0.5);
    color: rgba(255, 255, 255, 1.0);
}

button {
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    outline: none !important;
    user-select: none;
    display: inline-block;
    margin: 10px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    transition: 0.1s ease;
}
button:hover {
    transform: scale(1.1,1.1);
}
button:active {
    transform: scale(1.0, 1.0);
}
button:disabled,
button[disabled]{
    cursor: default;
    color: rgba(0, 0, 0, 0.9);
}
button:disabled:hover {
    transform: scale(1.0,1.0);
}

.refresh_button {
    background: rgba(0, 190, 255, 0.9);
}
.refresh_button:disabled,
.refresh_button[disabled]{
    background: rgba(0, 190, 255, 0.4);
}

.create_button {
    background: rgba(30, 230, 30, 0.9);
}
.create_button:disabled,
.create_button[disabled]{
    background: rgba(30, 230, 30, 0.4);
}

.edit_button {
    background: rgba(30, 130, 230, 0.9);
}
.edit_button:disabled,
.edit_button[disabled]{
    background: rgba(30, 130, 230, 0.4);
}

.move_button {
    background: rgba(255, 211, 0, 0.9);
}
.move_button:disabled,
.move_button[disabled]{
    background: rgba(255, 211, 0, 0.4);
}

.remove_button {
    background: rgba(230, 30, 30, 0.9);
}
.remove_button:disabled,
.remove_button[disabled]{
    background: rgba(230, 30, 30, 0.4);
}

.counter {
    user-select: none;
    position: absolute;
    margin-top: 15px;
    margin-left: 3px;
    padding-right: 2px;
    color: red;
}

.content {
    margin-bottom: 56px;
}
