
ul, #myUL {
    display: grid;
    list-style: none;
    overflow: auto;
}

li {
    position: relative;
    white-space: nowrap;
    padding-top: 5px;
}
li::before, li::after {
    content: "";
    position: absolute;
}
li::before {
    border-top: 1px solid #040505;
    top: 18px;
    width: 27px;
    left: -35px;
}
li::after {
    border-left: 1px solid #040505;
    height: 100%;
    top: 4px;
    left: -35px;
}

ul > li:last-child::after {
    height: 15px;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    color: red;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: ">";
    /*font-weight: bold;*/
    display: inline-block;
    margin-right: 5px;
    transition: 0.3s ease;
}

.caret-down::before {
    -webkit-transform: rotate(90deg); /* Safari */
    -moz-transform: rotate(90deg); /* Firefox 2+ */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

input {
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.05);
    transition: 0.5s ease;
}

input:hover {
    transition: 0.5s ease;
    color: rgb(255, 255, 255);
}
button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

button {
    display: inline-block;
    position: relative;
    padding: 0px 10px;
    font-size: 16px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}

.edit_button{
    background: rgba( 30, 130, 230, 0.1 );
}
.edit_button:hover {
    transform: scale(1.1,1.1);
    background: rgba( 30, 130, 230, 0.9 );
}

.insert_button {
    background: rgba( 90, 290, 90, 0.1 );
}
.insert_button:hover {
    transform: scale(1.1,1.1);
    background: rgba( 30, 230, 30, 0.9 );
}
/*.append_button {*/
/*    margin-top: 5px;*/
/*    margin-bottom: 15px;*/
/*    background: rgba( 90, 290, 90, 0.5 );*/
/*}*/
.remove_button{
    background: rgba( 230, 30, 30, 0.1 );
}
.remove_button:hover {
    transform: scale(1.1,1.1);
    background: rgba( 230, 30, 30, 0.9 );
}

.move_button {
    background: rgba( 255, 211, 0, 0.1 );
}
.move_button:hover {
    transform: scale(1.1,1.1);
    background: rgba( 255, 211, 0, 0.7 );
}

.refresh_button {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 20px;
    background: #00BFFF;
}
.refresh_button:hover {
    transform: scale(1.1,1.1);
}
.refresh_button:active {
    transform: scale(1.2,1.2);
}

.create_button {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 20px;
    background: rgba( 30, 230, 30, 0.9 );
}
.create_button:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg) scale(1.1, 1.1);
}

.counter {
    padding-right: 2px;
    color: red;
}

.content {
    margin-bottom: 56px;
}
