ul, #root_ul {
    display: grid;
    list-style: none;
    overflow: auto;
}

li {
    display: table;
}

#root_ul {
    margin: 0;
    padding: 0;
}

.caret {
    color: #040505;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: ">";
    display: inline-block;
}

.text {
    outline: none !important;
    overflow: visible;
    resize: none;
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 10px;
    background: transparent;
    vertical-align: middle;
    display: table-cell;
    margin: 5px;
}

.counter {
    font-weight: bold;
    user-select: none;
    color: dimgray;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
