[fcgi-program:{{ project_name }}-daphne]
socket=tcp://localhost:8000
socket_backlog=2048                          ; размер очереди соединений

command={{ venv_dir }}/bin/daphne -u {{ project_path }}/{{ project_name }}-daphne%(process_num)d.sock --fd 0 --proxy-headers {{ project_name }}.asgi:application

numprocs=1                                   ; количество воркеров
process_name={{ project_name }}-daphne%(process_num)d ; имена процессов

directory={{ project_path }}                 ; рабочая директория
user={{ project_owner }}                     ; пользователь для запуска
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile={{ logs_path }}/django.log
stderr_logfile={{ logs_path }}/django.log
