{% extends 'MySite/wrapper.html' %}

{% block content %}
    <div style="margin-left: 20px;">
        <p>КОНЕЧНЫЙ ПУТЬ</p>
        <p>...И я уйду. А птица будет петь<br>
        как пела,<br>
        и будет сад, и дерево в саду,<br>
        и мой колодец белый.<br><br>
        На склоне дня, прозрачен и спокоен,<br>
        замрет закат, и вспомнят про меня<br>
        колокола окрестных колоколен.<br><br>
        С годами будет улица иной;<br>
        кого любил я, тех уже не станет,<br>
        и в сад мой за беленою стеной,<br>
        тоскуя, только тень моя заглянет...<br><br>
        И я уйду; один — без никого,<br>
        без вечеров, без утренней капели<br>
        и белого колодца моего...<br>
        А птицы будут петь и петь, как пели.
        </p>
        <p style="font-style: italic">Хуан Рамон ХИМЕНЕС<br>Перевод А. Гелескула</p>
    </div>
{% endblock %}

