<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Experiment</title>
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'MySite/css/bootstrap.min.css' %}" type='text/css'>
    <link rel="shortcut icon" href="{% static 'MySite/img/favicon.ico' %}" type="image/x-icon">
</head>

<body style="font-family: monospace; background: #1b1e21; color: #adb5bd;">

    <div style='padding:20px; text-align: center;'>
        <a href='/' class='btn btn-primary btn-sm'>&#127968; Home</a>
        <a href='/calc' class='btn btn-danger btn-sm'>&#9889; Calc</a>
        <a href='/memtree' class='btn btn-success btn-sm'>&#127795; MemTree</a>
    </div>

    <hr style="border-top: 3px dotted black;">
    {% block content %}
    {% endblock %}

    <hr style="border-top: 3px dotted black;">
    <p style='margin-left:20px;'>&copy; Все права защищены, 2019</p>

</body>

</html>
