<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>MemTree</title>
    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href={% static "MySite/img/favicon-32x32.png" %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static "MySite/img/favicon-16x16.png" %}>
    <script type="text/javascript" src="{% static 'MySite/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'MySite/js/jquery-ui.min.js' %}"></script>
    <link rel='stylesheet' href="{% static 'MySite/css/jquery-ui.min.css' %}" type='text/css'>
    <link rel='stylesheet' href="{% static 'MySite/css/bootstrap.min.css' %}" type='text/css'>
    <link rel='stylesheet' href="{% static 'MySite/css/MySite.css' %}" type='text/css'>
</head>

<body>

    <div class="header">
        <div style="padding-top: 10px;">
            {% if user.username %}
                <nobr>{{ user.username }}</nobr>
                <a href='logout' class='btn btn-outline-warning btn-sm'>Log Out</a>
                {% if not user.is_staff %}
                    <a href='delete-account' class='btn btn-outline-danger btn-sm'>Delete Account</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        <div class="root_buttons" id="root_buttons">
            {% block footer_content %}
            {% endblock %}
        </div>
    </div>
    <div id="remove_item_confirm" title="Warning!" style="display: none">
        <p>Delete all selected items?</p>
    </div>

</body>

</html>
