<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>MemTree</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'MySite/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'MySite/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'MySite/js/bootstrap.bundle.min.js' %}"></script>

    <link rel='stylesheet' href="{% static 'MySite/css/jquery-ui.min.css' %}" type='text/css'>
    <link rel='stylesheet' href="{% static 'MySite/css/bootstrap.min.css' %}" type='text/css'>
    <link rel='stylesheet' href="{% static 'MySite/css/MySite.css' %}" type='text/css'>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'MySite/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'MySite/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'MySite/img/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'MySite/img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'MySite/img/favicon.ico' %}">
</head>

<body>

    <div class="header">
        {% if user.username %}
            <div class="buttons">
                <div class="input-group">
                    <input id="search_input" class="form-control disabled" placeholder="Search" type="search" oninput="search()"/>
                    <label for="search_input" id="search_counter"></label>
                    <div class="input-group-append">
                        <button class="btn btn-outline-light dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >{{ user.username }}</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{% url 'index' %}" class="dropdown-item">Home</a>
                            <a href="{% url 'user_help' %}" class="dropdown-item">Help</a>
                            {% if user.is_staff %}
                                <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            {% if not user.is_staff %}
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'delete_account' %}" class="dropdown-item" style="color: red">Delete Account</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        {% block footer_content %}
        {% endblock %}
    </div>
    <div id="remove_item_confirm" title="Warning!" style="display: none">
        <p>Delete all selected items?</p>
    </div>

</body>

</html>
