body {
    font-family: monospace;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.88);
}

.header {
    position: fixed;
    top: 0;
    text-align: center;
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.content {
    margin-top: 60px;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.root_buttons {
    text-align: center;
}

