{% extends 'MySite/wrapper.html' %}

{% block content %}

    <div style="margin-left: 20px;">
    <h2>л/с: 0660096</h2>
    <form method="POST" > {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <p style="margin-top: 15px;">
            <input type="submit" value="Готово">
        </p>
    </form>

    <table cellspacing="2" border="1" cellpadding="5">
        <thead>
        <tr style="text-align:center">
            <th style="min-width:100px;color:grey;">Дата</th>
            <th>Тариф День</th>
            <th>Тариф Ночь</th>
            <th style="color:#00BFFF;">День(Е1)</th>
            <th>Дневной расход</th>
            <th>Стоимость дня</th>
            <th style="color:#00BFFF;">Ночь(E2)</th>
            <th>Ночной расход</th>
            <th>Стоимость ночи</th>
            <th style="color:darkgreen;">Счетчик соседей</th>
            <th style="color:darkgreen;">Счетчик наш</th>
            <th style="color:darkred;">Стоимость (соседи)</th>
            <th style="color:darkred;">Стоимость (мы)</th>
            <th style="color:darkred;">Стоимость (НЕ)</th>
            <th style="color:red;">Общая стоимость</th>
        </tr>
        </thead>
        {% for obj in object_list %}
            <tr style="text-align:center">
                <td style="color:grey;">{{ obj.date|date:"d-m-Y" }}</td>
                <td>{{ obj.dayRate }}</td>
                <td>{{ obj.nightRate }}</td>
                <td style="color:#00BFFF;">{{ obj.dayE1 }}</td>
                <td>{{ obj.dayConsumption }}</td>
                <td>{{ obj.dayCost }}</td>
                <td style="color:#00BFFF;">{{ obj.nightE2 }}</td>
                <td>{{ obj.nightConsumption }}</td>
                <td>{{ obj.nightCost }}</td>
                <td style="color:darkgreen;">{{ obj.neighbors }}</td>
                <td style="color:darkgreen;">{{ obj.us }}</td>
                <td style="color:red;">{{ obj.neighborsCost }}</td>
                <td style="color:red;">{{ obj.usCost }}</td>
                <td style="color:red;">{{ obj.neCost }}</td>
                <td style="color:darkred;font-weight:bold;">{{ obj.totalCost }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

{% endblock %}

