{% extends 'gorynych/main.html' %}

{% block mainTable %}

<script type="text/javascript">
var mainTreeData = {{ object_list|safe }};
</script>

{% load staticfiles %}
<script type="text/javascript" src="{% static 'gorynych/js/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" src="{% static 'gorynych/js/mainTree.js' %}"></script>
<link rel='stylesheet' href="{% static 'gorynych/css/mainTree.css' %}" type='text/css'>

<h2 id="Title">Title</h2>

<p id="Desc">description</p>

<button onclick="addEle()">Создать элемент</button>

<ul id="myUL">
</ul>

{% endblock %}

