
ul, #myUL {
    display: grid;
    list-style-type: none;
    overflow: auto;
    /*
    flex-direction: column;
    */
}

li {
    white-space: nowrap;
    padding-top: 5px;
    /*
    margin: 10px 0;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    */
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    /*
    content: "\25B6";
    */
    content: "\27A4";
    color: rgba( 90, 90, 90, 0.7 );
    display: inline-block;
    margin-right: 6px;
    transition: 0.3s ease;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
}

img {
    padding: 0px 0px 5px 10px;
    cursor: pointer;
    opacity: 0.2;
}

img:hover {
    transform: scale(1.2, 1.2);
    opacity: 1.0;
}

input {
    /*
    color: grey;
    text-align: center;
    */
    background: rgba( 90, 90, 90, 0.1 );
    width: 150px;
    font-weight:bold;
    padding-left: 5px;
    padding-right: 5px;
    color: grey;
    border: 1px solid;
    border-radius: 10px;
    transition: 0.5s ease;
}

input:hover {
    /*
    background: rgba( 90, 90, 90, 0.1 );
    */
    transition: 0.5s ease;
    color: green;
}
button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    margin-left: 5px;
}

button {
    display: inline-block;
    position: relative;
    padding: 0px 10px;
    top: 0;
    font-size: 18px;
    border-radius: 10px;
    font-family: "Open Sans", Helvetica;
    background: rgba( 90, 90, 90, 0.1 );
    color: #fff;
    transition: 0.3s ease;
}

/*button:hover {*/
/*    -webkit-transform: rotateZ(360deg);*/
/*       -moz-transform: rotateZ(360deg);*/
/*        -ms-transform: rotateZ(360deg);*/
/*            transform: rotateZ(360deg);*/
/*}*/

.crBtn:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    background: rgba( 30, 230, 30, 0.9 );
}
.rmBtn:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    background: rgba( 230, 30, 30, 0.9 );
}

.refrBtn:hover {
    letter-spacing: 1px;
}
.newBtn:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
.refrBtn {
    background: rgba( 30, 230, 230, 0.9 );
}
.newBtn {
    background: rgba( 30, 230, 30, 0.9 );
}

