---
- hosts: servers
  vars_files:
    - vars.yaml
  gather_facts: false
  become: yes

  tasks:
    - name: create project directory
      file:
        path: "{{ project_path }}"
        state: directory
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"

    - name: sync project files
      synchronize:
        src: "../memtree/"
        dest: "{{ project_path }}/"
        archive: no
        recursive: yes

    - name: set permissions
      file:
        path: "{{ project_path }}/"
        recurse: yes
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"

    - name: create log directory
      file:
        path: "{{ logs_path }}"
        state: directory
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"

    - name: create django log file
      file:
        path: "{{ logs_path }}/django.log"
        state: touch
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"
        access_time: preserve
        modification_time: preserve

    - name: create celery log file
      file:
        path: "{{ logs_path }}/celery.log"
        state: touch
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"
        access_time: preserve
        modification_time: preserve