---
- hosts: servers
  vars_files:
    - vars.yaml
  gather_facts: false
  become: yes

  tasks:
    - name: create project directory
      file:
        path: "{{ project_path }}"
        state: directory

    - name: copy project files - item
      copy:
        src: "../memtree/item"
        dest: "{{ project_path }}/"
        mode: 600
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"

    - name: copy project files - memtree
      copy:
        src: "../memtree/memtree"
        dest: "{{ project_path }}/"
        mode: 600
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"

    - name: copy project files - manage.py
      copy:
        src: "../memtree/manage.py"
        dest: "{{ project_path }}/"
        mode: 600
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"

    - name: copy project files - requirements.txt
      copy:
        src: "../memtree/requirements.txt"
        dest: "{{ project_path }}/"
        mode: 600
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"

#    - name: copy project files - db.sqlite3
#      copy:
#        src: "../memtree/db.sqlite3"
#        dest: "{{ project_path }}/"
#        mode: 600
#        owner: root
#        group: root
#      notify:
#        - restart daphne

    - name: create log directory
      file:
        path: "/var/log/{{ project_name }}"
        state: directory
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"
        mode: 600

    - name: create django log file
      file:
        path: "/var/log/{{ project_name }}/django.log"
        state: touch
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"
        mode: 600

    - name: create celery log file
      file:
        path: "/var/log/{{ project_name }}/celery.log"
        state: touch
        owner: "{{ project_owner }}"
        group: "{{ project_group }}"
        mode: 600