---
- hosts: servers
  vars_files:
    - vars.yaml
  gather_facts: false
  become: yes

  tasks:
    - name: copy project files - item
      copy:
        src: "../memtree/item"
        dest: "{{ project_path }}/"
        mode: 777
        owner: root
        group: root
      notify:
        - restart daphne

    - name: copy project files - memtree
      copy:
        src: "../memtree/memtree"
        dest: "{{ project_path }}/"
        mode: 777
        owner: root
        group: root
      notify:
        - restart daphne

    - name: copy project files - manage.py
      copy:
        src: "../memtree/manage.py"
        dest: "{{ project_path }}/"
        mode: 777
        owner: root
        group: root
      notify:
        - restart daphne

    - name: copy project files - requirements.txt
      copy:
        src: "../memtree/requirements.txt"
        dest: "{{ project_path }}/"
        mode: 777
        owner: root
        group: root
      notify:
        - restart daphne

    - name: copy project files - db.sqlite3
      copy:
        src: "../memtree/db.sqlite3"
        dest: "{{ project_path }}/"
        mode: 777
        owner: root
        group: root
      notify:
        - restart daphne

    - name: initiate virtualenv
      pip:
        virtualenv: "{{ venv_dir }}"
        virtualenv_command: /usr/bin/python3 -m venv
        requirements: "{{ project_path }}/requirements.txt"

    - name: copy nginx config
      template:
        src: "files/nginx.j2"
        dest: "/etc/nginx/sites-available/{{ project_name }}.conf"
        mode: 777
        owner: root
        group: root
      notify:
        - restart nginx

    - name: create symbolic links for sites config to enable sites
      become: yes
      file:
        path: "/etc/nginx/sites-enabled/{{ project_name }}.conf"
        state: link
        src: "/etc/nginx/sites-available/{{ project_name }}.conf"
        force: yes
      notify:
        - restart nginx

    - name: django migrate
      django_manage:
        command: migrate
        app_path: "{{ project_path }}/"
        pythonpath: "{{ venv_python }}"

    - name: django collectstatic
      django_manage:
        command: collectstatic
        app_path: "{{ project_path }}/"
        pythonpath: "{{ venv_python }}"

    - name: copy daphne config
      template:
        src: "files/daphne.j2"
        dest: "/etc/systemd/system/daphne.service"
        mode: 777
        owner: root
        group: root
      notify:
        - restart daphne

    - name: reload systemd configuration
      command: systemctl daemon-reload

    - name: make sure nginx server is running
      service:
        name: nginx
        state: started
        enabled: yes

    - name: make sure daphne server is running
      service:
        name: daphne
        state: started
        enabled: yes

  handlers:
    - name: restart nginx
      service:
        name: nginx
        state: restarted

    - name: restart daphne
      service:
        name: daphne
        state: restarted
