---
- hosts: servers
  vars_files:
    - vars.yaml
  gather_facts: false
  become: yes

  tasks:
    - name: django migrate
      django_manage:
        command: migrate
        app_path: "{{ project_path }}/"
        virtualenv: "{{ venv_dir }}"

    - name: django collectstatic
      django_manage:
        command: collectstatic
        app_path: "{{ project_path }}/"
        virtualenv: "{{ venv_dir }}"