---
- hosts: servers
  vars_files:
    - vars.yaml
  gather_facts: false
  become: yes

- import_playbook: nginx.yaml
- import_playbook: redis.yaml
- import_playbook: deploy.yaml
- import_playbook: venv.yaml
- import_playbook: supervisor.yaml
- import_playbook: django.yaml