---
- hosts: servers
  vars_files:
    - vars.yaml
  gather_facts: false
  become: yes

  tasks:
    - name: install system packages
      apt:
        pkg: "{{ item }}"
        update-cache: yes
      with_items: "{{ system_packages }}"

    - name: create directory for app
      file:
        path: "{{ project_path }}"
        state: directory

    - name: remove default nginx site
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent

- import_playbook: deploy.yaml
