---
- hosts: servers
  vars_files:
    - vars.yaml
  gather_facts: false
  become: yes

  tasks:
    - name: Update and upgrade apt packages
      become: true
      apt:
        upgrade: yes
        update_cache: yes
        cache_valid_time: 86400  # One day

- import_playbook: nginx.yaml
- import_playbook: redis.yaml
- import_playbook: deploy.yaml
- import_playbook: venv.yaml
- import_playbook: django.yaml
- import_playbook: supervisor.yaml