{% extends 'memtree/wrapper.html' %}

{% block content %}

    <script type="text/javascript">
        document.getElementById('search_input').classList.add('disabled');
        document.getElementById('edit_mode_label').classList.add('disabled');
    </script>

    <div style="display: flex; justify-content: center; margin-top: 100px">
        <form method="POST" style="margin-left: 20px; margin-right: 20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class='btn btn-success btn-sm'>Submit</button>
        </form>
    </div>

{% endblock %}
