{% extends 'memtree/wrapper.html' %}

{% block content %}
    <script type="text/javascript">
        document.getElementById('search_input').classList.add('disabled');
        document.getElementById('edit_mode_label').classList.add('disabled');
    </script>

    <div style="margin: 10px;">
        <br>
        <h3 style="text-align: center;">MemTree</h3>
        <br>
        <p>A simple application for text notes.</p>
        <p>The main feature is the possibility of infinite nesting of elements.</p>
        <p>Support: eugene.v.us@gmail.com</p>
        <br>
        <h5>Description of basic management:</h5>
        <br>
        <ul>
            <p style="color: rgba(155, 255, 155, 0.5)">Green highlighting (first press on element). Only one element can be marked in green.</p>
            <p>To add new root (first) element:</p>
            <ul><p>Press the button "Add" without green highlighting other elements.</p></ul>
            <p>Add new nested element (child):</p>
            <ul><p>Press the button "Add" when the parent element is highlighted in green.</p></ul>

            <br>

            <p style="color: rgba(255, 211, 0, 0.7)">Yellow highlighting (second press on element). Multiple elements can be marked in yellow at the same time.</p>
            <p>Delete selected (yellow) elements:</p>
            <ul><p>Mark the elements in yellow and press "Delete" in "Action" menu.</p></ul>
            <p>Move selected (yellow) elements to another element (parent):</p>
            <ul>
                <p>Mark elements in yellow.</p>
                <p>Then mark parent element in green.</p>
                <p>And press "Move" in "Action" menu.</p>
                <p>If the parent element is not selected, the yellow elements will become the top of the "tree".</p>
            </ul>

            <br>

            <p style="color: rgba(0, 100, 200, 0.5)">Edit text of element:</p>
            <ul><p>Toggle the "Edit" button to make all the elements editable or readonly (default).</p></ul>
        </ul>
    </div>

{% endblock %}
