<!DOCTYPE html>
<html lang='en'>
<head>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <title>MemTree</title>
    {% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
    <link rel='stylesheet' href="https://code.jquery.com/ui/1.14.1/themes/smoothness/jquery-ui.min.css" type='text/css'>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <script type="text/javascript" src="{% static 'memtree/js/memtree.js' %}"></script>
    <link rel='stylesheet' href="{% static 'memtree/css/memtree.css' %}" type='text/css'>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'memtree/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'memtree/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'memtree/img/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'memtree/img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'memtree/img/favicon.ico' %}">

</head>

<body id="body">

    <div class="header">
        {% if user.username %}
            <script type="text/javascript">
                const csrftoken = '{{ csrf_token }}';
            </script>
            <div class="buttons">

                    <input type="checkbox"
                           class="btn-check"
                           id="edit_mode_switch"
                           autocomplete="off"
                           onchange="editMode(this.checked)"/>
                    <label for="edit_mode_switch"
                           class="btn btn-outline-primary"
                           id="edit_mode_label">Edit</label>

                    <input id="search_input"
                           class="form-control"
                           placeholder="Search"
                           type="search"
                           onchange="search()"/>
                    <sup id="search_counter"></sup>

                    <button type="button"
                            class="btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            id="menu_button">{{ user.username }}</button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <li><a href="{% url 'index' %}" class="dropdown-item">Home</a></li>
                        <li><a href="{% url 'user_help' %}" class="dropdown-item">Help</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="{% url 'password_change' %}" class="dropdown-item">Password change</a></li>
                        <li><a class="dropdown-item" onclick="confirmLogout()" style="cursor: pointer">Log Out</a></li>
                        {% if not user.is_staff %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" onclick="confirmDeleteAccount()" style="cursor: pointer;color: red">Delete Account</a></li>
                        {% endif %}
                    </ul>

            </div>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer" id="footer">
        {% block footer_content %}
        {% endblock %}
    </div>

</body>

</html>
