ul, #root_ul {
    list-style: none;
}

li {
    white-space: nowrap;
}

#root_ul {
    margin: 0;
    padding: 0;
}

.caret {
    color: black;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
    vertical-align: middle;
}

.text {
    outline: none !important;
    overflow: visible;
    resize: none;
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 0.375rem;
    padding: 2px 10px;
    background: transparent;
    vertical-align: middle;
    margin: 5px 10px;
}

.counter {
    font-weight: bold;
    user-select: none;
    color: dimgray;
    margin-right: 10px;
}
